@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    /* #RESET */
    *, *::before, *::after{
        padding: 0;
        box-sizing: border-box;
    }
    a{ text-decoration: none;
       @apply text-bittersweet-shimmer
    }


    img, ion-icon, a, button, time, span{ display: block;}

    sup{
        font-size: 8px;
    }
    button{
        font: inherit;
        background: none;
        border: none;
        text-align: left;
        cursor: pointer;
    }
    input, textarea{
        display: block;
        width: 100%;
        background: none;
        font: inherit;
    }
    ::selection{
        @apply bg-orange-yellow-crayola;
        color: var(--smoky-black);
    }
    :focus{ @apply outline-orange-yellow-crayola }

    html{ font-family: "Philosopher" }

    body{ @apply bg-smoky-black min-w-[320px]}
}

/* REUSED STYLE */
.sidebar, article{
    @apply bg-eerie-black-2 border border-solid border-jet shadow-1 rounded-[20px] p-[15px] z-[1] transition-2 md:w-[520px] md:m-auto md:p-7;
}
.separator{
    @apply w-full h-[1px] bg-jet my-4 mx-0;
}
.icon-box{
    @apply bg-gradient-onyx text-fs-4 text-orange-yellow-crayola relative md:w-12 md:h-12 md:rounded-xl md:text-fs-2;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.icon-box::before{
    content: "";
    position: absolute;
    inset: 1px;
    @apply bg-eerie-black-1;
    border-radius: inherit;
    z-index: -1;
}
.icon-box ion-icon{  --ionicon-stroke-width: 35px; }

article.active{
    /* @apply block; */
    animation: fade 0.5s ease delay iteration-count backwards fill-mode;
}
@keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.h2,h3,h4,.h5{
    @apply text-white-2 capitalize;
}

.h2{@apply text-fs-1;}
.h3{@apply text-fs-2;}
.h4{@apply text-fs-4;}
.h5{@apply text-fs-5 font-fw-500;}

.article-title{
    @apply relative pb-2 mb-6 md:font-fw-600 md:pb-4;
}
.article-title::after{
    content: "";
    animation: change ease 10s infinite;
    @apply absolute bottom-0 left-0 w-[30px] h-[3px] bg-gradient-yellow rounded-[3px] md:w-10 md:h-1;
}
@keyframes change {
    0% {
        filter: hue-rotate(0deg);
    }
    10% {
        filter: hue-rotate(20deg);
    }
    20% {
        filter: hue-rotate(40deg);
    }
    30% {
        filter: hue-rotate(60deg);
    }
    40% {
        filter: hue-rotate(80deg);
    }
    50% {
        filter: hue-rotate(100deg);
    }
    60% {
        filter: hue-rotate(150deg);
    }
    70% {
        filter: hue-rotate(200deg);
    }
    80% {
        filter: hue-rotate(250deg);
    }
    90% {
        filter: hue-rotate(300deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
.has-scrollbar::-webkit-scrollbar{
    @apply w-[5px] h-[5px];
}
.has-scrollbar::-webkit-scrollbar-track{
    @apply rounded-[5px] bg-onyx;
}
.has-scrollbar::-webkit-scrollbar-thumb{
    @apply rounded-[5px] bg-orange-yellow-crayola
}
.has-scrollbar::-webkit-scrollbar-button{
    @apply w-[20px];
}
.content-card{
    @apply relative bg-border-onyx p-[15px] pt-[45px] rounded-[14px] shadow-2 z-[1] cursor-pointer;
}
.content-card::before{
    content: "";
    border-radius: inherit;
    @apply absolute inset-[1px] bg-gradient-jet z-[1];

}
.contact-info :is(.contact-link, time, address){
    @apply text-fs-7 text-white-2
}

.modal-container::-webkit-scrollbar{@apply hidden}


/* Testimonials Section */
.testimonials-list{
    overflow-x: auto;
    scroll-behavior: smooth;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
}
.testimonials-item{
    min-width: 100%;
    scroll-snap-align: center;
}

/* Testimonial Modal Container */

/* Resume */
.timeline-item:not(:last-child){ margin-bottom: 30px;}
.timeline-item:not(:last-child)::before{
    content: "";
    height: calc(100% + 50px);
    @apply absolute top-[-25px] left-[-30px] w-[1px] bg-jet
}
.timeline-item::after{
    content: '';
    @apply absolute top-[5px] left-[-33px] w-[6px] h-[6px] bg-gradient-yellow rounded-full shadow-timeline

}


/* Projects */
.project-item{
    animation: scaleup .2s ease forwards;
}

@keyframes scaleup {
    0% { transform: scale(.5);}
    100%{ transform: scale(1);}
}

.project-item>a:hover .project-img::before{ background: hsla(0, 0%, 0%, .5);}

.project-item-icon-box{

}
.project-item > a:hover .project-item-icon-box{
    @apply scale-100 opacity-100
}
.project-item-icon-box ion-icon{ --ionicon-stroke-width: 50px}
.project-item>a:hover img{ transform: scale(1.1);}


/* Media Queries */

/* 450px screens */
/* client */
.client-item{ min-width: calc(33.33% - 10px);}
.skills-list{
    @apply sm:p-5
}

.skill-item img{
    @apply sm:p-0 sm:justify-center
}

.skill-item:not(:last-child){
    @apply sm:mb-4
}


/* 580px screens */
@media (min-width: 580px){
    .info-more-btn ion-icon{ display: none;}
    .testimonials-avatar-box{
        transform: translate(5px,-5px);
        border-radius: 20px;
    }
}

@media (min-width: 760px){

    /* REUSED STYLE */
    .sidebar, article { width: 700px;}
    .has-scrollbar::-webkit-scrollbar-button{ width: 100px;}

    /* SIDEBAR */
    .contact-list{
        grid-template-columns: 1fr 1fr;
        gap: 30px 15px;
    }

    .project-list{ display: grid;grid-template-columns: 1fr 1fr;}
}

@media (min-width: 1024px){}
